.onlinereservation{
    padding: 10px;
}
.onlinereservation h1{
    margin-left: 49%;
    
    
}
.onlinereservation h2{
    margin-left: 47%;
}
.table{
    margin-left: 33%;
}
.form{
    background-color: #16130f;
    width: 60%;
    padding: 20px 80px;
   
}
.name{
    padding: 5px 5px;
}
/* .name:hover{
    background-color: rgb(187, 186, 186);
} */
.name input[type="text"]{
    padding: 15px 219px;
    font-size: 15px;
    border-radius: 1px  rgb(20, 16, 16);
  
}
.second{
    display: flex;
}
.second input[type="text"],input[type="number"]{
    padding: 15px 70px;
    font-size: 15px;
}
.second input[type="date"]{
    padding: 15px 75px;
    font-size: 15px;

}
.second input[type="time"]{
    padding: 15px 94px;
    font-size: 15px;
}
.second ul{
    padding: 5px 5px;
}
.book{
    padding: 15px 30px;
    margin: 20px 199px;
    font-size: 17px;
    background-color: #e2b36c;
    color: white;
    border: none;

}
.book:hover{
    background-color: rgb(110, 110, 110);
}