.section-hero-data {
  font-size: 30px;
  position: absolute;
  color: aliceblue;
  top: 30%;
  left: 30%;
 }
 .btn {
   max-width: 16rem;
 }
 .hero-top-data {
   text-transform: uppercase;
   font-weight: 500;
   font-size: 1.5rem;
   
 }
 .hero-heading {
   text-transform: uppercase;
   font-size: 6.4rem;
 }
 .section-hero-image {
  background: url('../../../public/images/home.jpg');
  width: 100%;
  height: 86vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }
 picture {
   text-align: center;
   width: 20%;
 }
 .hero-img {
   width: 60%;
   background-position: center;
   background-size: cover;
 }
